*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

body, html, main {
  	margin: 5px;
  	padding: 0;
  	width: 100%;
  	height: 100%;
  	font-family: 'Lato', sans-serif;
    font-weight: 100;
 	color: #2d3c49;
}

.container {
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	max-width: 1000px;
	margin: 10px auto;
}


header {
	font-size: 4em;
}

.main-heading {
	text-decoration: none;
	color: #2d3c49;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 2em;
}

.title-text {
	flex-grow: 1;
	text-decoration: none;
	color: inherit;
}

.title-action {
	font-size: 0.4em;
	margin: 0 1em;
}

.col-100 {
	width: 100%;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
	display: flex;
	flex-direction: column;
  	margin: 2em 0;
  	width: 20%;
}

.nav-list {
  padding: 0;
  margin: 1em, 0;
}

.nav-item {
  text-align: left;
  padding: 0.5em 0em;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


.content-pane {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	margin: 2em 0;
	width: 80%;
}

.item {
	max-width: 23%;
	margin: 1%;
	text-decoration: none;
}

.item-photo {
	border: solid;
	border-width: 1px;
	border-color: #616161;
	padding: 1em;
	width: 100%;
}

.item-caption {
	color: #616161;
	font-size: .75em;
}

.col100 {
	width: 100%;
}


.item-page {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.item-page-photo {
	padding: 0.5em 0;
	width: 40%;
}

.item-page-caption {
	font-size: 1.75em;
	color: #2d3c49;
	text-decoration: none;
}

.item-page-description {
	margin: 0.5em 0;
	font-size: 1em;
	text-align: justify;
}

.question {
	margin: 1em 0 0;
	color: red;
}

.button {
    background-color: #2d3c49;
    border: none;
    color: white;
    padding: 12px 32px;
    width: 8em;
    margin: 1em 1em 1em 0;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.button:hover {
    background-color: #3e8e41;
}

fieldset {
	display: flex;
	flex-direction: row;
	/*width: 100%;*/
	padding: 0;

	border: none;
	font-size: 1em;
}

label {
	margin: 0.5em .5em 0 0;
}

input[type=text], select {
    padding: 0.5em 0.5em;
    min-width: 8em;
    width: 25%;
}


#description {
	width: 100%;
	white-space: normal;
	text-align: justify;
}


#picfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#picfile-label {
	width: 25%;
	height: 2em;
	padding: 0.5em;
	margin: 0em;
}
