*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

body, html, main {
  	margin: 5px;
  	padding: 0;
  	max-width: 100%;
  	max-height: 100%;
  	font-family: 'Lato', sans-serif;
    font-weight: 100;
 	color: #2d3c49;

}


.container {
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
    overflow: hidden;
}


.main-heading {
    text-decoration: none;
    color: #2d3c49;
    font-size: 2em;
}

.title {
    position: fixed;
    top:0;
	display: flex;
    flex-direction: column;
	font-size: 2em;
    background-color: white;

}

.title-text {
	text-decoration: none;
	color: inherit;
    margin-right: .5em;
}

.title-action {
	font-size: 0.4em;
	margin: 0 1em;
}

.col-100 {
	width: 100%;
}


/*
 *
 * Top Level Navigation
 *
 */



.content-pane {
    margin-top: 120px;
    max-height: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
    padding-bottom: 5%;
}

.item {
	max-width: 23%;
	margin: 1%;
	text-decoration: none;
}

.item-photo {
	border: solid;
	border-width: 1px;
	border-color: #616161;
	padding: 1em;
	width: 100%;
}

.item-caption {
	color: #616161;
	font-size: .75em;
}

.col100 {
	width: 100%;
}


.item-page {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.item-page-photo {
	padding: 0.5em 0;
	width: 40%;
}

.item-page-caption {
	font-size: 1.75em;
	color: #2d3c49;
	text-decoration: none;
}

.item-page-description {
	margin: 0.5em 0;
	font-size: 1em;
	text-align: justify;
}

.question {
	margin: 1em 0 0;
	color: red;
}

.button {
    background-color: #2d3c49;
    border: none;
    color: white;
    padding: 12px 32px;
    width: 8em;
    margin: 1em 1em 1em 0;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.button:hover {
    background-color: #3e8e41;
}

fieldset {
	display: flex;
	flex-direction: row;
	padding: 0;

	border: none;
	font-size: 1em;
}

label {
	margin: 0.5em .5em 0 0;
}

input[type=text], select {
    padding: 0.5em 0.5em;
    min-width: 8em;
    width: 25%;
}


#description {
	width: 100%;
	white-space: normal;
	text-align: justify;
}


#picfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#picfile-label {
	width: 25%;
	height: 2em;
	padding: 0.5em;
	margin: 0em;
}

.hamburger {
    font-size:1em;
    cursor:pointer;
    margin-right: .3em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content, .overlay-content-small {
    position: relative;
    top: 15%;
    width: 80%;
    padding: 1em;
    margin-bottom: 2em;
}


.overlay-content-small {
    height: 5em;
}

.overlay-title {
    font-size: 1.5em;
    font-weight: bold;
}


.overlay a {
    padding: 0.2em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 3em;
}

hr {
    border-color: #818181;
}
/*@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }*/
}