<!DOCTYPE html>

<html>
    <head>
        <title>CS253 BLOG</title>
        <meta charset="utf-8">
        <meta name="Item catalog" content="A list of items by category">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
        <script src="/static/itemcatalog.js"></script>

        {% block script %}
        {% endblock script%}

    </head>

    <body>
    <div class="container">
        <header> Item catalog </header>

        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#">News</a></li>
            <li class="nav__item"><a href="#">Events</a></li>
            <li class="nav__item"><a href="#">Culture</a></li>
            <li class="nav__item"><a href="#">Blog</a></li>
          </ul>
        </nav>

        {% block content %}

        {% endblock content%}
        {% include 'flash.html' %}

        <div class="category-pane">
            {% for c in categories%}
                <a class="category-link" href="{{url_for('category', categoryId=c.id)}}">{{c.name}}</a>
                <br>
            {% endfor %}
        </div>

    </div>
    </body>

</html>