<!DOCTYPE html>

<html>
    <head>
        <title>CS253 BLOG</title>
        <meta charset="utf-8">
        <meta name="Item catalog" content="A list of items by category">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

        {% block script %}
        {% endblock script %}
    </head>

    <body>
    <div class='container'>
      <header class='col-100'>
        <a class='main-heading' href="{{url_for('index')}}">Item catalog</a>
      </header>

      <div class='title col-100'>
        <a class='title-text' href="{{titleUrl}}"> {{title}} </a>
        <a class='title-action' href="{{url_for('newItem')}}">New item</a>
        {% if loggedIn %}
          <a class='title-action' href="{{url_for('logout')}}">Log out</a>
        {% else %}
          <a class='title-action' href="{{url_for('showlogin')}}">Log in</a>
        {% endif %}
      </div>

      <nav class='nav'>
        {% for c in categories %}
            <a class="nav-item" href="{{url_for('category', categoryId=c.id)}}">
              {{c.name}}
            </a>
        {% endfor %}
      </nav>

      <section class='content-pane'>
        {% block content %}
        {% endblock content %}
      </section>

    </div>
    </body>

    {% block javascript %}
    {% endblock javascript %}

</html>
