<!DOCTYPE html>

<html>
    <head>
        <title>CS253 BLOG</title>
        <meta charset="utf-8">
        <meta name="Item catalog" content="A list of items by category">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        {% block script %}
        {% endblock script %}
    </head>

    <body>
    <div class='container'>

      <div id="heading" class='title col-100'>
        <header>
          <a class='main-heading' href="{{url_for('index')}}">Item catalog</a>
        </header>

        <div class=col-100>
          <span class="hamburger" onclick="openNav()">&#9776;</span>
          <a class='title-text' href="{{titleUrl}}"> {{title}} </a>
        </div>
      </div>



      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="overlay-content-small">
          {% if loggedIn %}
            <img class="profile-pic" src="{{session['pic']}}">
            <p>Hello {{session['username']}}</p>
          {% else %}
            <img class="profile-pic" src="{{url_for('static', filename='img/incognito.jpg')}}">
            <p>Not logged in</p>
          {% endif %}

          <div class="overlay-title">
            Options
          </div>

          {% if loggedIn %}
            <a href="{{url_for('newItem')}}">New item</a>
            <a href="{{url_for('logout')}}">Log out</a>
          {% else %}
            <a href="{{url_for('showlogin')}}">Log in</a>
          {% endif %}

          <hr>
        </div>

        <div class="overlay-content">
          <div class="overlay-title">
            Categories
          </div>

          {% for c in categories %}
              <a class="nav-item" href="{{url_for('category', categoryId=c.id)}}">
                {{c.name}}
              </a>
          {% endfor %}

        </div>
      </div>

      <section class='content-pane'>
        {% block content %}
        {% endblock content %}
        {% include 'flash.html' %}
      </section>


    </div>

  </div>
  </body>

    {% block javascript %}
    {% endblock javascript %}

<script>
function openNav() {
    document.getElementById("myNav").style.width = "25%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>
</html>
