{% extends "itembase.html" %}

{% block details %}
  {% include('itemdetails.html') %}
{% endblock details %}


{% block actions %}
  <form action="{{url_for('deleteItem', itemId = item.id)}}" method = "post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <p class="question">Are you sure you want to delete this item ?</p>
    <button type="submit" class="button" id="save" type="submit">
      Yes
    </button>

    <button type="submit" class="button"onClick="history.go(-1);return true;">
      Cancel
    </button>
  </form>
{% endblock actions %}