<!-- The template renders the basic elements for an item object -->
<!-- An 'actions' block is provided to include links to edit, delete, etc -->
{% extends "base.html" %}

{% block content %}

  <div class='item-page'>

    <picture class="item-page-photo">
      <!-- TODO: add media queries for responsive images
      <source media="(max-width: 500px)" srcset="{{url_for('static', filename='img/%s' % item.image)}}">
      <source media="(min-width: 501px)" srcset="{{url_for('static', filename='img/%s' % item.image)}}"> -->
      <img src="{{url_for('static', filename='img/%s' % item.image)}}">
    </picture>

    <div class="item-page-description">
      {% block details %}
      <!-- Place holder for any other detail that a child template needs to
           include-->
      {% endblock details %}

      <!-- Action blocks are only displayed if the user has permission to
           edit the current item -->
      {% if loggedIn %}
        <div class="item-page-actions">
          {% block actions %}
          {% endblock actions %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock content %}


