{% extends "itembase.html" %}

{% block actions %}
    <form action="{{formAction}}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <fieldset>
        <label for="category">Category:</label>
        <select name="category" id="category-combo" class="input">
            {% for c in categories %}
                <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
        </select>

        <label for="name">Name:</label>
        <input class="input" type ="text" maxlength="60" name="name" value="{{item.name}}">

        <label>Picture</label>
        <label for="picfile" class="button input" id="picfile-label">
          {{item.image}}
        </label>
        <input id="picfile" name="picfile" type ="file" maxlength="60" value="{{item.image}}">

        <label for="description">Description:</label>
        <textarea id="description" rows="5" name="description" class="input">{{item.description}}</textarea>

      </fieldset>
      <button type="submit" class="button" id="save" type="submit">Save</button>
      <a href="{{cancel}}", class="button">Cancel</a>
    </form>
    <script type="text/javascript">{% include "itemcatalog.js" %}</script>
{% endblock actions %}

